@use "helpers/general" as *;
@use "helpers/colors.module" as colors;

.NavBarVertical {
	display: grid;
	justify-items: center;
	gap: 40px;

	> .resumeButton {
		margin-top: 20px;
		font-weight: 400;
		padding: {
			top: 18px;
			bottom: 18px;
			left: 40px;
			right: 40px;
		}
	}
}
