@use "helpers/general" as *;
@use "helpers/colors.module" as colors;
@use "../nav-constants.module" as nav-constants;

.NavBar {
	height: nav-constants.$expanded-nav-bar-height;
	display: grid;
	justify-content: space-between;
	grid-auto-flow: column;
	padding-left: var(--screen-side-insets);
	padding-right: var(--screen-side-insets);
	transition-duration: 0.3s;
	transition-property: height, box-shadow;
	background-color: colors.$main-background;
	z-index: 10;

	@mixin box-shadow($color: rgba(black, 0.2)) {
		box-shadow: 0 0 40px 20px $color;
	}

	@include box-shadow(rgba(black, 0));

	&.contracted {
		height: nav-constants.$compact-nav-bar-height;
		@include box-shadow(rgba(black, 0.2));
	}

	> .nameBox {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 10px;
		position: relative;

		> svg {
			margin-top: -8px;
			width: 35px;
			fill: colors.$accent;
		}

		> .nameText {
			font-size: 22px;
			font-weight: 500;
			line-height: 1;
			> .firstName {
				color: colors.$lighter-text;
			}

			> .lastName {
				color: colors.$light-text;
			}
		}
	}

	> .rightSide {
		display: grid;
		grid-auto-flow: column;
		gap: 30px;
		align-items: center;

		> .resumeButton {
			font-size: 14px;
			font-weight: 300;
			padding: 14px;
			padding-left: 23px;
			padding-right: 23px;
		}

		> .menuButton {
			> svg {
				height: 25px;
				width: 25px;
				fill: colors.$accent;
			}
		}

		> .menuButton {
			display: none;
		}

		@media (max-width: nav-constants.$max-shortened-horizontal-nav-bar-width) {
			> .menuButton {
				display: unset;
			}
			> :not(.menuButton) {
				display: none;
			}
		}
	}
}
