@use 'helpers/general' as *;
@use 'helpers/colors.module' as colors;
@use '../NavViews/nav-constants.module' as nav-constants;

.HomeSection {
  min-height: calc(100vh - #{nav-constants.$expanded-nav-bar-height});
  display: grid;
  box-sizing: border-box;
  position: relative;
  pointer-events: none;

  .highlighted {
    color: colors.$accent;
  }

  .starsCanvas {
    position: absolute;
    width: 100vw;
    height: calc(100% + #{nav-constants.$expanded-nav-bar-height});
    top: nav-constants.$expanded-nav-bar-height * -1;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
  }

  > * {
    position: relative;
  }

  > .centerView {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
    place-self: center;
    pointer-events: none;

    > .titleText,
    .subtitleText {
      font-size: clamp(45px, 8vw, 70px);
      font-weight: 600;
      line-height: 1;
    }

    > .titleText {
      color: colors.$light-text;
    }

    > .subtitleText {
      color: colors.$lighter-text;
      margin-top: 13px;
    }

    > .descriptionText {
      margin-top: 20px;
      font-size: 20px;
      color: colors.$lighter-text;
      max-width: 500px;
      line-height: 26px;
      font-weight: 300;
    }

    > .getInTouchButtonHolder {
      margin-top: 30px;
    }
  }
}
