$slide-up-animation-timing-fn: cubic-bezier(0.19, 1, 0.22, 1);
$slide-up-animation-duration: 0.8s;

:export {
  slideUpAnimationTimingFn: $slide-up-animation-timing-fn;
  slideUpAnimationDuration: $slide-up-animation-duration;
}

:global(.slide-up-element) {
  opacity: 0;
  animation-duration: $slide-up-animation-duration;
  animation-timing-function: $slide-up-animation-timing-fn;
  animation-fill-mode: forwards;
  &.done {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideUpElement {
  0% {
    opacity: 0;
    transform: translateY(clamp(50px, 70%, 100000px));
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
