@use "helpers/general" as *;
@use "helpers/colors.module" as colors;

.NavDrawer {
	position: relative;

	> .contentCover {
		position: absolute;
		@include setprops(left right top bottom, 0);
	}
}

.MenuView {
	position: fixed;
	height: 100vh;
	top: 0;
	bottom: 0;
	background-color: colors.$lighter-background;

	> .xButton {
		position: absolute;
		top: 20px;
		right: 10px;
		@include fade-on-hover;
		> svg {
			height: 45px;
			width: 45px;
			fill: colors.$accent;
		}
	}

	> .content {
		position: absolute;
		@include setprops(left right top bottom, 0);
		display: grid;
		align-items: center;
		overflow-y: auto;

		> .NavBarVertical {
			position: relative;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}
