$green-and-blue: (
	"background": rgb(14, 25, 45),
	"accent": rgb(132, 252, 173),
	"light-text": rgb(204, 214, 246),
	"lighter-text": rgb(136, 146, 176),
);

$red-and-blue: (
	"background": rgb(11, 1, 54),
	"accent": rgb(227, 39, 71),
	"light-text": rgb(204, 214, 246),
	"lighter-text": rgb(136, 146, 176),
);

$orange-and-blue: (
	"background": rgb(9, 1, 46),
	"accent": rgb(227, 99, 39),
	"light-text": rgb(218, 212, 248),
	"lighter-text": rgb(145, 140, 173),
);

$purple-and-blue: (
	"background": rgb(9, 1, 46),
	"accent": rgb(148, 17, 255),
	"light-text": rgb(218, 212, 248),
	"lighter-text": rgb(145, 140, 173),
);

$theme: $orange-and-blue;

$main-background: map-get($theme, "background");
$accent: map-get($theme, "accent");
$light-text: map-get($theme, "light-text");
$lighter-text: map-get($theme, "lighter-text");

:export {
	mainBackground: $main-background;
	accent: $accent;
	lightText: $light-text;
	lighterText: $lighter-text;
}
