$expanded-nav-bar-height: 100px;
$compact-nav-bar-height: 70px;

$max-shortened-horizontal-nav-bar-width: 850px;

:export {
	expandedNavBarHeight: $expanded-nav-bar-height / 1px;
	compactNavBarHeight: $compact-nav-bar-height / 1px;
	maxShortenedHorizontalNavBarWidth: $max-shortened-horizontal-nav-bar-width /
		1px;
}
