@use "helpers/general" as *;
@use "helpers/colors.module" as colors;
@use "./children/NavViews/nav-constants.module" as nav-constants;

.MainScreen {
	pointer-events: none;
	position: relative;
	.NavBarHorizontal {
		position: sticky;
		top: 0;
	}

	> .content {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		> * {
			margin: {
				left: var(--screen-side-insets);
				right: var(--screen-side-insets);
			}
		}

		> *:not(.HomeScreen) {
			pointer-events: auto;
		}

		> * {
			margin-bottom: clamp(100px, 16vw, 200px);
		}
	}
}
