@use "helpers/general" as *;
@use "helpers/colors.module" as colors;

.NavLink {
	font-size: 18px;
	color: colors.$lighter-text;
	font-weight: 500;
	display: grid;
	grid-auto-flow: column;
	gap: 5px;
	align-items: center;
	transition: color 0.3s;

	> svg {
		height: 0.5em;
		width: 0.5em;
		fill: colors.$accent;
		transform: rotate(90deg);
		margin-top: -0.27em;
	}

	&.selected,
	&:hover {
		color: colors.$accent;
		font-weight: 500;
	}

	> .text {
		line-height: 1;
	}
}
