.App {
	.NavBarHorizontal {
		position: sticky;
		top: 0;
	}

	> .content {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		> * {
			margin: {
				left: var(--screen-side-insets);
				right: var(--screen-side-insets);
			}
		}
	}
}
