@use 'helpers/general' as *;
@use 'helpers/colors.module' as colors;

:export {
  maxNarrowScreenWidth: $project-max-narrow-screen-width;
}

.ProjectsSection {
  .ProjectView {
    grid-template-areas: 'detailsSection imageView';

    &.right {
      @media (min-width: $project-max-narrow-screen-width) {
        grid-template-areas: 'imageView detailsSection';
      }
    }

    @media (max-width: calc($project-max-narrow-screen-width - 1px)) {
      grid-template-areas:
        'titleSection'
        'imageView'
        'detailsSection';

      > .titleSection {
        grid-area: titleSection;
      }
    }
  }
}
