@use "helpers/general" as *;
@use "helpers/colors.module" as colors;

.PageFooter {
	padding-bottom: 25px;
	position: relative;
	> .content {
		position: relative;
		text-align: center;
		font-size: 18px;
		display: grid;
		justify-items: center;
		gap: 5px;
		color: colors.$lighter-text;

		> .icons {
			display: grid;
			grid-auto-flow: column;
			gap: 15px;

			> a {
				> svg {
					transition-property: fill;
					transition-duration: 0.3s;
					@include setprops(height width, 26px);
					fill: colors.$lighter-text;
				}

				&:hover {
					> svg {
						fill: colors.$accent;
					}
				}
			}
		}
	}
}
