$expanded-nav-bar-height: 100px;
$compact-nav-bar-height: 70px;

$max-shortened-horizontal-nav-bar-width: 925px;

:export {
  expandedNavBarHeight: calc($expanded-nav-bar-height / 1px);
  compactNavBarHeight: calc($compact-nav-bar-height / 1px);
  maxShortenedHorizontalNavBarWidth: calc(
    $max-shortened-horizontal-nav-bar-width / 1px
  );
}
