@use "helpers/colors.module" as colors;
@use "helpers/general" as *;

:root {
	color: colors.$light-text;
	font-family: Calibre;

	--screen-side-insets: 40px;

	@media (max-width: 500px) {
		--screen-side-insets: 30px;
	}
}

body {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0.02px;
	&::selection {
		background-color: rgba(192, 84, 33, 0.8);
		color: colors.$light-text;
	}
}

body {
	background-color: colors.$main-background;
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
	font-weight: inherit;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

button,
a {
	cursor: pointer;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	word-break: break-word;
	// for microsoft edge on windows
	word-wrap: break-word;
}

textarea,
input,
select {
	border: none;
	font-family: inherit;
	background-color: transparent;
	font-size: inherit;
	font-weight: inherit;
}

textarea,
input {
	min-width: 0;
	-webkit-appearance: none;
}

.underline-on-hover,
a.underline-on-hover {
	position: relative;
	color: colors.$accent;
	pointer-events: auto;
	display: inline-block;

	&::before {
		content: "";
		height: 0.16em;
		width: 100%;
		position: absolute;
		bottom: 0em;
		@include setprops(left right, 0);
		border-radius: 100000000000px;
		background-color: colors.$accent;
		transition-duration: 0.3s;
		transform: translateY(0.3em);
		opacity: 0;
		transition-property: transform, opacity;
	}

	&:hover::before {
		opacity: 1;
		transform: translateY(0);
	}
}
