@use 'helpers/general' as *;
@use 'helpers/colors.module' as colors;
@use 'sass:string';

.ContactMeSection {
}

.ContactSectionHeader {
  text-align: center;
  justify-items: center;
  display: grid;
  > .subtitle {
    color: colors.$accent;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }

  > .title {
    font-weight: 600;
    font-size: clamp(40px, 5vw, 60px);
    line-height: 1;
    margin-bottom: 10px;
  }

  > .description {
    font-size: 20px;
    color: colors.$lighter-text;
    max-width: 500px;
    line-height: 1.3;
  }
}
