@use "helpers/general" as *;
@use "helpers/colors.module" as colors;
@use "../NavViews/nav-constants.module" as nav-constants;

.HomeSection {
	min-height: calc(100vh - #{nav-constants.$expanded-nav-bar-height});
	display: grid;
	grid-template-rows: 1fr auto;
	box-sizing: border-box;

	.highlighted {
		color: colors.$accent;
	}

	> .centerView {
		margin-top: 30px;
		margin-bottom: 30px;
		max-width: 900px;
		place-self: center;

		> .titleText,
		.subtitleText {
			font-size: clamp(45px, 8vw, 70px);
			font-weight: 600;
			line-height: 1;
		}

		> .titleText {
			color: colors.$light-text;
		}

		> .subtitleText {
			color: colors.$lighter-text;
			margin-top: 13px;
		}

		> .descriptionText {
			margin-top: 20px;
			font-size: 20px;
			color: colors.$lighter-text;
			max-width: 500px;
			line-height: 26px;
			font-weight: 300;
		}

		> .getInTouchButton {
			margin-top: 30px;
			font-size: 14px;
		}
	}

	> .footerView {
		margin-bottom: var(--screen-side-insets);
		position: relative;
		> .content {
			display: grid;
			gap: 8px;
			font-size: 19px;
			color: colors.$accent;
			background-color: black;
			width: 100vw;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 0;
		}
	}
}
